* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

#titleImg {
    width: 400px;
}

#headerLink {
    border: solid 2px black;
    background-color: black;
    font-size: 25px;
    margin-left: 20px;
    padding: 7px 15px 7px 15px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

#headerLink: hover{
    font-weight:bold;
    text-decoration:underline;
    }

#login {
    color: black;
    float: right;
    padding: 5px 25px;
}

#login:hover{
    font-weight: bold;
}

iframe {
    margin: 20px;
    float: left;
}

#home-form {
    margin: 20px;
    float: left;
}

.home-submit {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 15px 40px 15px 40px;
    border: solid 2px black;
    border-radius: 3px;
}

#destination-form {
    margin: 100px;
    text-align: left;
}

#page-form {
    margin: 100px;
    text-align: center;
    font-size: 20px;
}

.form-link {
    color: black;
}

.submit {
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 15px 50px 15px 50px;
    border: solid 2px black;
    border-radius: 3px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#error {
    color: red;
}

footer {
    margin-top: auto;
    text-align: center;
}

#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  height: auto;
}

#map {
  flex: auto;
}

#sidebar {
  flex: 0 1 auto;
  padding: 0;
}
#sidebar > div {
  padding: 0.5rem;
}