<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="fragments :: loggedInPageHeader"></header>

        <br>
        <br>
        <h1>My Saved Trips</h1>

        <table class="all-trips">

            <tr th:each="trip : ${trips}">
                <td><a class="trip-card" th:text="${trip.tripName}" th:href=" '/trips/trip?tripId=' + ${trip.id} "></a></td>
            </tr>
        </table>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>