<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
    <header th:replace="fragments :: loggedInPageHeader"></header>

    <br>
    <br>

    <div class="itinerary-box trip-card">
        <h3 id="trip-name" th:text="${trip.tripName}"></h3>
        <br>
        <div class="itinerary-stops">
            <div class="itinerary-text">
            <h5>🚗️ Starting: </h5>
            <p th:text="${trip.startingLocation}"></p>
            <br>

            <h5>Stops: </h5>
            <ul>
                <li th:unless="${trip.stopOne.equals('')}" th:text="${trip.stopOne}"></li>
                <li th:unless="${trip.stopTwo.equals('')}"th:text="${trip.stopTwo}"></li>
                <li th:unless="${trip.stopThree.equals('')}"th:text="${trip.stopThree}"></li>
            </ul>
            <br>
            <h5>🚩 Destination: </h5>
            <p th:text="${trip.endingLocation}"></p>
            </div>
        </div>
    </div>

    <br>

    <footer th:replace="fragments :: footer"></footer>
    </body>
</html>