<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css"></link>
    <script th:src="script.js"></script>
    <meta charset="UTF-8"/>
    <title>RoadTrip Runner</title>
</head>
<body>
<div th:fragment = "pageHeader" class="wrapper">

    <div class="header">
        <a id="login" th:href="@{/login}">Login/Register</a>
        <img id="titleImg" th:src="@{/logo.png}" alt="RoadTrip Runner"/>
        <br>
        <br>
        <a id="headerLink">Your Saved Trips</a>
        <a id="headerLink">Plan a Trip</a>
    </div>
</div>

<footer th:fragment="footer">
    <p>	Better Than Bezos &#169; 2022 </p>
</footer>
</body>
</html>>