<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css">
    <script th:src="script.js"></script>
    <meta charset="UTF-8"/>
    <title>RoadTrip Runner</title>
</head>
<body>
    <div th:fragment = "pageHeader" class="wrapper">

        <div class="header">
            <div th:switch="${loggedInUser != null}">
                <div th:case="${true}">
                    <a  id="login" th:href="@{/logout}">Logout</a>
                    <p id="welcome" th:text="'Welcome, ' + ${loggedInUser.getUsername} + '!'"></p>
                </div>
                <a th:case="*" id="login" th:href="@{/}">Login</a>
            </div>

            <img id="titleImg" th:src="@{/logo.png}" alt="RoadTrip Runner"/><br><br>
            <div th:switch="${loggedInUser != null}">
                <div th:case="${true}">
                    <a th:href = "@{/trips}" id="headerLink">My Saved Trips</a>
                    <a th:href = "@{/planATrip}" id="headerLink">Plan a Trip</a>
                </div>
                <div th:case="${false}">
                    <a id="headerLink" th:href="@{/}">My Saved Trips</a>
                    <a id="headerLink" th:href="@{/}">Plan a Trip</a>
                </div>
            </div>
        </div>
    </div>

<footer th:fragment="footer">
    <p>	Better Than Bezos &#169; 2022 </p>
</footer>
</body>
</html>