

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <a href="resources/static/styles.css"></a>
    <meta charset="UTF-8"/>
    <title>RoadTrip Runner</title>
</head>
<body>
<div th:fragment = "pageHeader" class="wrapper">

    <div class="header">
        <a id="login" href="login.html">Login/Register</a>
        <a href="index.html" id="title">RoadTrip Runner</a>
        <br>
        <br>
        <a href="#" id="headerLink">Your Saved Trips</a>
        <a href="plan-a-trip.html" id="headerLink">Plan a Trip</a>
    </div>
</div>
</body>
</html>