<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: pageHeader"></div>
<div>
    <h1>Welcome to RoadTrip Runner!</h1>
    <h3>Ready for your next adventure?  Enter your route here:</h3>
    <form id="destination-form" method="post">
        <label>Name Your Trip:
            <input th:field="${trip.tripName}">
        </label>
        <br>
        <br>
        <label th:for="startingLocation">Starting Location:
            <input type="text" th:field="${trip.startingLocation}" />
        </label>
        <br>
        <br>
        <label th:for="endingLocation"> Destination:
            <input type="text" th:field="${trip.startingLocation}" />
        </label>
        <br>
        <br>
        <label> Detour Radius:
        </label>
        <br>
        <br>
        <input type="submit" value="Begin!"/>
        <br>
        <br>
            <p>Want to save your trips?  Click the Register button below</p>
        <a class="form-link" >Register</a>

    </form>


</div>

<footer>
    <p>	Better Than Bezos &#169; 2022 </p>
</footer>

</body>
</html>
