<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: pageHeader"></header>
<div>
    <h1>Welcome to RoadTrip Runner!</h1>

    <iframe width="700" height="400" src="https://www.youtube.com/embed/JsU3RG1gYuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>Ready for your next adventure?  Enter your route here:</h3>
<!--    onsubmit="displayLog()" method="post"-->
    <form id="destination-form">
        <div>
            <label>Starting Location:
                <input type="text" id="originInput" placeholder="starting from...">
            </label>
        </div>

        <br>
        <br>

        <div>
            <label> Destination:
                <input type="text" id="destinationInput" placeholder="travelling to...">
            </label>
        </div>

<!--        <label>Name Your Trip:-->
<!--            <input th:field="${trip.tripName}" th:value="${trip.tripName}">-->
<!--        </label>-->
<!--        <br>-->
<!--        <p class="error" th:errors="${trip.tripName}"></p>-->
<!--        <br>-->
<!--        <br>-->
<!--&lt;!&ndash;        th:for="startingLocation"&ndash;&gt;-->
<!--        <label>Starting Location:-->
<!--            <input type="text" id="originInput" placeholder="starting from...">-->
<!--        </label>-->
<!--        &lt;!&ndash;        th:field="${trip.startingLocation}" th:value="${trip.startingLocation}" for above&ndash;&gt;-->
<!--        <br>-->
<!--&lt;!&ndash;        <p class="error" th:errors="${trip.startingLocation}"></p>&ndash;&gt;-->

<!--        <br>-->
<!--        <br>-->

<!--&lt;!&ndash;        th:for="endingLocation"&ndash;&gt;-->
<!--        <label> Destination:-->
<!--            <input type="text" id="destinationInput" placeholder="travelling to...">-->
<!--        </label>-->
<!--&lt;!&ndash;        th:field="${trip.endingLocation}" th:value="${trip.endingLocation}"&ndash;&gt;-->
<!--        <br>-->
<!--&lt;!&ndash;        <p class="error" th:errors="${trip.endingLocation}"></p>&ndash;&gt;-->
<!--        <br>-->
<!--        <br>-->
<!--        <label> Detour Radius in Miles:-->
<!--            <input type="number" th:field="${trip.detourRadius}" th:value="${trip.detourRadius}" placeholder="0">-->
<!--        </label>-->
<!--        <br>-->
<!--        <p class="error" th:errors="${trip.detourRadius}"></p>-->
<!--        <br>-->
<!--        <br>-->
<!--        <input type="submit" value="Begin!"/>-->
<!--        <br>-->
<!--        <br>-->
<!--        <p>Want to save your trips?  Click the Register button below.</p>-->
<!--        <a th:href="@{/register}" class="form-link">Register</a>-->

    </form>
    <button>Submit!</button>


</div>

<div id="map"></div>
<div id="output"></div>

<!--<script async th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${gmapsApiKey} + '&libraries=places&callback=getAutocompleteData'">-->
<!--</script>-->
<script async th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${gmapsApiKey} + '&libraries=places&callback=initMap'">
</script>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>