<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: pageHeader"></header>
<div>
    <h1>Welcome to RoadTrip Runner!</h1>

    <iframe width="700" height="400" src="https://www.youtube.com/embed/JsU3RG1gYuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br>
    <br>

    <a class="form-link" th:href="@{/register}">Need to Register?</a>


</div>


<footer th:replace="fragments :: footer"></footer>

</body>
</html>