<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: loggedInPageHeader"></header>
<h1>Welcome to RoadTrip Runner!</h1>
    <main class="flex-container">
      <div>
        <iframe class="demo-box" width="700" height="400" src="https://www.youtube.com/embed/JsU3RG1gYuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="column-right">
        <div class="button-div">
          <input class="black-btn-right" type="submit" value="Plan A Trip" th:href = "@{/planATrip}"/>
          <input class="black-btn-right" type="submit" value="My Saved Trips" th:href = "@{/trips}"/>
        </div>
      </div>
    </main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>