<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: pageHeader"></header>

<form id="page-form" method="post">

        <label th:for="username">Username
            <input th:field="${loginFormDTO.username}" placeholder="username">
        </label>
        <p class="errors" th:errors="${loginFormDTO.username}"></p>
  <br>
    <br>

        <label>Password
            <input th:field="${loginFormDTO.password}" type="password" placeholder="password">
        </label>
        <p class="errors" th:errors="${loginFormDTO.password}"></p>
<br>
    <br>

    <input type="submit" class="btn btn-primary" value="Log In" />
    <br>
    <br>
    <a class="form-link" th:href="@{/register}">Need to Register?</a>
</form>


<footer th:replace="fragments :: footer"></footer>

</body>
</html>