<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: pageHeader"></header>

    <h1>Plan Your Trip Here</h1>
    <main class="flex-container">
        <div class="directions">
            <form>
                <div>
                    <label>Starting Location:
                        <input class="input" type="text" id="originInput" placeholder="starting from...">
                    </label>
                </div>

                <br>
                <br>

                <div>
                    <label> Destination:
                        <input class="input" type="text" id="destinationInput" placeholder="traveling to...">
                    </label>
                </div>
            </form>
            <button class="submit" id="submit-button">Submit!</button>

        </div>
        <div id="map"></div>
    </main>

    <script async th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${gmapsApiKey} + '&libraries=places&callback=initMap'">
    </script>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>