<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<header th:replace="fragments :: pageHeader"></header>

<div class="directions">
    <h1>Plan Your Trip Here</h1>


    <h3>Ready for your next adventure?  Enter your route here:</h3>
    <form id="destination-form" method="post">

        <div>
            <label th:for="startingLocation">Starting Location:
                <input type="text" th:field="${directionsDTO.startingLocation}" id="originInput" th:value="${directionsDTO.startingLocation}" placeholder="starting from...">
            </label>
            <p class="error" th:errors="${directionsDTO.startingLocation}"></p>
        </div>

        <br>
        <br>

        <div>
            <label th:for="endingLocation"> Destination:
                <input type="text" th:field="${directionsDTO.endingLocation}" id="destinationInput" placeholder="traveling to..." th:value="${directionsDTO.endingLocation}">
            </label>
            <p class="error" th:errors="${directionsDTO.endingLocation}"></p>
        </div>

        <input type="submit" value="Save Trip"/>

    </form>

    <div>
        <button class="submit" id="submit-button">Submit!</button>
    </div>



</div>

<div id="map"></div>


<script async th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${gmapsApiKey} + '&libraries=places&callback=initMap'">
</script>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>