<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="fragments :: pageHeader"></header>
        <h1>Register</h1>
        <main class="flex-container">
            <form id="registration-form" method="post">
                <div class="registration-div">

                    <input class="input" type="text" placeholder="Name" th:field="${registerFormDTO.name}" />
                    <p class="errors" th:errors="${registerFormDTO.name}"></p>

                    <input class="input" type="email"  placeholder="email" th:field="${registerFormDTO.email}" />
                    <p class="errors" th:errors="${registerFormDTO.email}"></p>

                    <input class="input" placeholder="Username" th:field="${registerFormDTO.username}" />
                    <p class="errors" th:errors="${registerFormDTO.username}"></p>

                    <input class="input" placeholder="Password" th:field="${registerFormDTO.password}" type="password" />
                    <p class="errors" th:errors="${registerFormDTO.password}"></p>

                    <input class="input" placeholder="Verify Password" th:field="${registerFormDTO.verifyPassword}" type="password" />
                </div>

                <input type="submit" value="Register" />
            </form>
        </main>
    <footer th:replace="fragments :: footer"></footer>
    </body>
</html>